/*
  main styles
*/

.main-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-container section {
  border-bottom: 1px solid black;
}

/*
      experience styles
    */

/*
      education styles
    */

.education {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.education-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.info-contaner {
  display: flex;
  flex-direction: column;
}

/*
      skills styles
    */

.skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/*
      projects styles
    */

.projets {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding-bottom: 10px;
}
