<section class="skills">
  <div class="title-section">
    <h3>skills</h3>
  </div>
  <div class="skills-container">
    <div class="skill">
      <img
        src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
        alt="skill image"
        class="logo"
      />
      <h3 class="skill-name">html</h3>
      <p class="percentage">90%</p>
    </div>
    <div class="skill">
      <img
        src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
        alt="skill image"
        class="logo"
      />
      <h3 class="skill-name">css</h3>
      <p class="percentage">90%</p>
    </div>
    <div class="skill">
      <img
        src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
        alt="skill image"
        class="logo"
      />
      <h3 class="skill-name">js</h3>
      <p class="percentage">90%</p>
    </div>
  </div>
</section>
