.skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.editing-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
