<section class="skills">
  <div class="title-section">
    <h3>skills</h3>
  </div>

  <div class="container" class="container">
    <div *ngFor="let skill of dataload" class="skills-container">
      <app-skill-component
        [dataload]="skill"
        [isLogged]="isLogged"
      ></app-skill-component>
    </div>
  </div>
  <div *ngIf="!adding && isLogged">
    <button (click)="adding = true">add</button>
  </div>
  <div *ngIf="adding" class="editing-container">
    <input type="url" #url placeholder="icon url" />
    <input type="text" #technology placeholder="technology" />
    <input type="range" min="0" max="100" value="50" #percentage />

    <button (click)="save(url.value, technology.value, percentage.value)">
      save
    </button>
    <button (click)="adding = false">cancel</button>
  </div>
</section>
