<section class="about-me">
  <img src="{{ dataload.img_route }}" alt="my img" class="my-img" />
  <div *ngIf="editing" class="text-container editing-container">
    <div class="short">
      <input type="text" #img_url value="{{ dataload.img_route }}" />
      <input type="text" #nombre value="{{ dataload.first_name }}" />
      <input type="text" #apellido value="{{ dataload.last_name }}" />
    </div>

    <textarea id="" cols="80" rows="3" #about>{{
      dataload.about_me_text
    }}</textarea>

    <button (click)="editing = false">cancel</button>
    <button (click)="save(nombre.value, apellido.value, about.value)">
      save
    </button>
  </div>
  <div *ngIf="!editing" class="text-container">
    <p class="name">{{ dataload.first_name }} {{ dataload.last_name }}</p>
    <p class="para">
      {{ dataload.about_me_text }}
    </p>
    <div *ngIf="islogged">
      <button (click)="edit()">edit</button>
    </div>
  </div>
</section>
