.my-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: -70px;
  margin-bottom: 10px;
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.name {
  align-self: flex-start;
  flex-basis: 20%;
  font-size: large;
}

.para {
  align-items: left;
  margin-top: -50px;
}
.editing-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.editing-container textarea {
  margin-top: -50px;
}

.short {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
