<section class="about-me">
  <img
    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png"
    alt="my img"
    class="my-img"
  />
  <div class="text-container">
    <p class="name">Tomas Maggi</p>
    <p class="para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
      voluptatem tempora, ad expedita quidem voluptatum rerum nemo libero nam
      laudantium accusantium odit facilis qui quisquam dolor nisi. Praesentium,
      officia ab?
    </p>
  </div>
</section>
