<div *ngIf="!editing">
  <div class="dataload-container">
    <img src="{{ dataload.company_logo_url }}" alt="logo" class="logo" />
    <div class="description">
      <h5>{{ dataload.company_name }}</h5>
      <p>{{ dataload.job_description }}</p>
      <div *ngIf="dataload.start_date != null">
        <p>start date: {{ transformDate(dataload.start_date) }}</p>
      </div>
      <div *ngIf="dataload.finish_date != null">
        <p>finish date: {{ transformDate(dataload.finish_date) }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="isLogged">
    <button (click)="edit(dataload)">edit</button>
  </div>
</div>
<div *ngIf="editing">
  <div class="dataload-container">
    <img src="{{ dataload.company_logo_url }}" alt="logo" class="logo" />
    <div class="description">
      <input #id style="display: none" value="{{ dataload.id }}" />
      <input type="text" value="{{ dataload.company_name }}" #company_name />
      <textarea cols="30" rows="10" #description>
          {{ dataload.job_description }}
        </textarea
      >
      <div *ngIf="dataload.start_date != null">
        <label for="start_date">start date:</label>
        <input
          #start_date
          id="start_date"
          type="date"
          value="{{ transformDate(dataload.start_date) }}"
        />
      </div>
      <div *ngIf="dataload.finish_date != null">
        <label for="finish_date">finish date:</label>
        <input
          #start_date
          id="finish_date"
          type="date"
          value="{{ transformDate(dataload.finish_date) }}"
        />
      </div>
    </div>
  </div>
  <button (click)="save(id.value, company_name.value, description.value)">
    save
  </button>
  <button (click)="editing = false">cancel</button>
</div>
