<section class="education">
  <div class="title-section">
    <h3>Education</h3>
  </div>

  <div *ngFor="let education of dataload">
    <div class="education-container">
      <div class="info-container">
        <h4 class="education-title">{{ education.title }}</h4>
        <h6 class="grade">{{ education.type }}</h6>
        <p class="description">
          {{ education.description }}
        </p>
        <div *ngIf="education.date_of_start != null">
          <p>started: {{ transformDate(education.date_of_start) }}</p>
        </div>
        <div *ngIf="education.date_of_finish != null">
          <p>finshed: {{ transformDate(education.date_of_finish) }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
