.education {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.education-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: left;
}

.info-contaner {
  display: flex;
  flex-direction: column;
}
