<div class="project">
  <div *ngIf="editing">
    <img class="logo" src="{{ dataload.img_url }}" alt="project img" />
    <div>
      <input type="text" value="{{ dataload.title }}" #title />
      <textarea #description>
        {{ dataload.description }}
      </textarea>
      <a href="{{ dataload.repo_url }}">link to repo</a>
    </div>
    <button (click)="save(dataload.id, title.value, description.value)">
      save
    </button>
    <button (click)="editing = false">cancel</button>
  </div>
  <div *ngIf="!editing">
    <img class="logo" src="{{ dataload.img_url }}" alt="project img" />
    <div>
      <h3 class="project-title">{{ dataload.title }}</h3>
      <p class="project-description">
        {{ dataload.description }}
      </p>
      <a href="{{ dataload.repo_url }}">link to repo</a>
    </div>
    <div *ngIf="isLogged">
      <button (click)="edit()">edit</button>
    </div>
  </div>
</div>
