<app-upper-menu></app-upper-menu>

<main class="main-container">
  <section class="header">
    <img
      src="https://img.freepik.com/vector-gratis/banner-negro-formas-geometricas-amarillas_1017-32327.jpg?w=2000"
      alt="banner"
      class="banner"
    />
  </section>
  <section class="about-me">
    <img
      src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png"
      alt="my img"
      class="my-img"
    />
    <div class="text-container">
      <p class="name">Tomas Maggi</p>
      <p class="para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
        voluptatem tempora, ad expedita quidem voluptatum rerum nemo libero nam
        laudantium accusantium odit facilis qui quisquam dolor nisi.
        Praesentium, officia ab?
      </p>
    </div>
  </section>
  <section class="experience">
    <div class="title-section">
      <h3>Profesional Experience</h3>
    </div>
    <div class="experience-container">
      <img
        src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
        alt="logo"
        class="logo"
      />
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt,
        nihil cumque a asperiores illum eius accusantium laudantium ipsum eos
        sit nisi doloremque sunt debitis, minima voluptatum numquam voluptates
        explicabo ab?
      </p>
    </div>

    <div class="experience-container">
      <img
        src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
        alt="logo"
        class="logo"
      />
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt,
        nihil cumque a asperiores illum eius accusantium laudantium ipsum eos
        sit nisi doloremque sunt debitis, minima voluptatum numquam voluptates
        explicabo ab?
      </p>
    </div>

    <div class="experience-container">
      <img
        src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
        alt="logo"
        class="logo"
      />
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt,
        nihil cumque a asperiores illum eius accusantium laudantium ipsum eos
        sit nisi doloremque sunt debitis, minima voluptatum numquam voluptates
        explicabo ab?
      </p>
    </div>
  </section>
  <section class="education">
    <div class="title-section">
      <h3>Education</h3>
    </div>
    <div class="education-container">
      <img
        src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
        alt="logo"
        class="logo"
      />
      <div class="info-container">
        <h4 class="education-title">title</h4>
        <h6 class="grade">posgrade</h6>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt,
          nihil cumque a asperiores illum eius accusantium laudantium ipsum eos
          sit nisi doloremque sunt debitis, minima voluptatum numquam voluptates
          explicabo ab?
        </p>
      </div>
    </div>
    <div class="education-container">
      <img
        src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
        alt="logo"
        class="logo"
      />
      <div class="info-container">
        <h4 class="education-title">title</h4>
        <h6 class="grade">posgrade</h6>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt,
          nihil cumque a asperiores illum eius accusantium laudantium ipsum eos
          sit nisi doloremque sunt debitis, minima voluptatum numquam voluptates
          explicabo ab?
        </p>
      </div>
    </div>
  </section>
  <section class="skills">
    <div class="title-section">
      <h3>skills</h3>
    </div>
    <div class="skills-container">
      <div class="skill">
        <img
          src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
          alt="skill image"
          class="logo"
        />
        <h3 class="skill-name">html</h3>
        <p class="percentage">90%</p>
      </div>
      <div class="skill">
        <img
          src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
          alt="skill image"
          class="logo"
        />
        <h3 class="skill-name">css</h3>
        <p class="percentage">90%</p>
      </div>
      <div class="skill">
        <img
          src="https://www.companyfolders.com/blog/media/2015/01/adidas-300x207.jpg"
          alt="skill image"
          class="logo"
        />
        <h3 class="skill-name">js</h3>
        <p class="percentage">90%</p>
      </div>
    </div>
  </section>
  <section class="projets">
    <div class="title-section">
      <h3>projects</h3>
    </div>
    <div class="project-container">
      <div class="project">
        <h3 class="project-title">project #1</h3>
        <p class="project-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At est
          possimus hic accusamus nihil corrupti in necessitatibus natus animi
          soluta ab consequuntur aliquid, totam cum quod nostrum error deleniti
          iusto.
        </p>
        <a href="github.com">link to repo</a>
      </div>
    </div>
    <div class="project-container">
      <div class="project">
        <h3 class="project-title">project #2</h3>
        <p class="project-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At est
          possimus hic accusamus nihil corrupti in necessitatibus natus animi
          soluta ab consequuntur aliquid, totam cum quod nostrum error deleniti
          iusto.
        </p>
        <a href="github.com">link to repo</a>
      </div>
    </div>
    <div class="project-container">
      <div class="project">
        <h3 class="project-title">project #3</h3>
        <p class="project-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At est
          possimus hic accusamus nihil corrupti in necessitatibus natus animi
          soluta ab consequuntur aliquid, totam cum quod nostrum error deleniti
          iusto.
        </p>
        <a href="github.com">link to repo</a>
      </div>
    </div>
  </section>
</main>
