@keyframes ldio-5boildfybgi {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-5boildfybgi div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #28292f;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-5boildfybgi div {
  animation: ldio-5boildfybgi 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-3xlhxy46fe8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-5boildfybgi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-5boildfybgi div {
  box-sizing: content-box;
}
