<section class="projets">
  <div class="title-section">
    <h3>projects</h3>
  </div>
  <div class="project-container">
    <div class="project">
      <h3 class="project-title">project #1</h3>
      <p class="project-description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At est
        possimus hic accusamus nihil corrupti in necessitatibus natus animi
        soluta ab consequuntur aliquid, totam cum quod nostrum error deleniti
        iusto.
      </p>
      <a href="github.com">link to repo</a>
    </div>
  </div>
  <div class="project-container">
    <div class="project">
      <h3 class="project-title">project #2</h3>
      <p class="project-description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At est
        possimus hic accusamus nihil corrupti in necessitatibus natus animi
        soluta ab consequuntur aliquid, totam cum quod nostrum error deleniti
        iusto.
      </p>
      <a href="github.com">link to repo</a>
    </div>
  </div>
  <div class="project-container">
    <div class="project">
      <h3 class="project-title">project #3</h3>
      <p class="project-description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At est
        possimus hic accusamus nihil corrupti in necessitatibus natus animi
        soluta ab consequuntur aliquid, totam cum quod nostrum error deleniti
        iusto.
      </p>
      <a href="github.com">link to repo</a>
    </div>
  </div>
</section>
