/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

/* used by all the images in the page but banner*/
.logo {
  width: 100px;
  height: 100px;
}

button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
}

button:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
